<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.kits.marketservice.mapper.AppInfoMapper">
  <resultMap id="BaseResultMap" type="com.zy.kits.marketservice.domain.entity.AppInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="app_private_key" jdbcType="VARCHAR" property="appPrivateKey" />
    <result column="app_public_key" jdbcType="VARCHAR" property="appPublicKey" />
    <result column="app_start_time" jdbcType="TIMESTAMP" property="appStartTime" />
    <result column="app_end_time" jdbcType="TIMESTAMP" property="appEndTime" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, app_id, app_name, app_private_key, app_public_key, app_start_time, app_end_time, 
    company_name, created_at, updated_at, deleted_at
  </sql>
  <select id="selectByExample" parameterType="com.zy.kits.marketservice.domain.entity.AppInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `app_info`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `app_info`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `app_info`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zy.kits.marketservice.domain.entity.AppInfoExample">
    delete from `app_info`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zy.kits.marketservice.domain.entity.AppInfo" useGeneratedKeys="true">
    insert into `app_info` (app_id, app_name, app_private_key, 
      app_public_key, app_start_time, app_end_time, 
      company_name, created_at, updated_at, 
      deleted_at)
    values (#{appId,jdbcType=VARCHAR}, #{appName,jdbcType=VARCHAR}, #{appPrivateKey,jdbcType=VARCHAR}, 
      #{appPublicKey,jdbcType=VARCHAR}, #{appStartTime,jdbcType=TIMESTAMP}, #{appEndTime,jdbcType=TIMESTAMP}, 
      #{companyName,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{deletedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zy.kits.marketservice.domain.entity.AppInfo" useGeneratedKeys="true">
    insert into `app_info`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        app_id,
      </if>
      <if test="appName != null">
        app_name,
      </if>
      <if test="appPrivateKey != null">
        app_private_key,
      </if>
      <if test="appPublicKey != null">
        app_public_key,
      </if>
      <if test="appStartTime != null">
        app_start_time,
      </if>
      <if test="appEndTime != null">
        app_end_time,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="deletedAt != null">
        deleted_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appPrivateKey != null">
        #{appPrivateKey,jdbcType=VARCHAR},
      </if>
      <if test="appPublicKey != null">
        #{appPublicKey,jdbcType=VARCHAR},
      </if>
      <if test="appStartTime != null">
        #{appStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appEndTime != null">
        #{appEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zy.kits.marketservice.domain.entity.AppInfoExample" resultType="java.lang.Long">
    select count(*) from `app_info`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update `app_info`
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.appName != null">
        app_name = #{record.appName,jdbcType=VARCHAR},
      </if>
      <if test="record.appPrivateKey != null">
        app_private_key = #{record.appPrivateKey,jdbcType=VARCHAR},
      </if>
      <if test="record.appPublicKey != null">
        app_public_key = #{record.appPublicKey,jdbcType=VARCHAR},
      </if>
      <if test="record.appStartTime != null">
        app_start_time = #{record.appStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.appEndTime != null">
        app_end_time = #{record.appEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.companyName != null">
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null">
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null">
        updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deletedAt != null">
        deleted_at = #{record.deletedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `app_info`
    set id = #{record.id,jdbcType=INTEGER},
      app_id = #{record.appId,jdbcType=VARCHAR},
      app_name = #{record.appName,jdbcType=VARCHAR},
      app_private_key = #{record.appPrivateKey,jdbcType=VARCHAR},
      app_public_key = #{record.appPublicKey,jdbcType=VARCHAR},
      app_start_time = #{record.appStartTime,jdbcType=TIMESTAMP},
      app_end_time = #{record.appEndTime,jdbcType=TIMESTAMP},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      deleted_at = #{record.deletedAt,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.kits.marketservice.domain.entity.AppInfo">
    update `app_info`
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appPrivateKey != null">
        app_private_key = #{appPrivateKey,jdbcType=VARCHAR},
      </if>
      <if test="appPublicKey != null">
        app_public_key = #{appPublicKey,jdbcType=VARCHAR},
      </if>
      <if test="appStartTime != null">
        app_start_time = #{appStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appEndTime != null">
        app_end_time = #{appEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.kits.marketservice.domain.entity.AppInfo">
    update `app_info`
    set app_id = #{appId,jdbcType=VARCHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      app_private_key = #{appPrivateKey,jdbcType=VARCHAR},
      app_public_key = #{appPublicKey,jdbcType=VARCHAR},
      app_start_time = #{appStartTime,jdbcType=TIMESTAMP},
      app_end_time = #{appEndTime,jdbcType=TIMESTAMP},
      company_name = #{companyName,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>